<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
  </head>

  <body>
    <h3>Hello {{UserData.name}}!</h3><br />
    <p>Dear User! you are invited to register on WeGoLive.com plateform with
      email:
      {{UserData.email}}
      Click the link to register on WeGoLive with in 24 hours
      <a href={{Link}}>{{Link}}</a></p>
  </body>
</html>